@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}

header a {
  font-family: 'Poppins', sans-serif;
  color: #6070ff;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

header nav {
  font-family: 'Poppins', sans-serif;
  color: #6070ff;
  font-weight: bold;
  display: grid;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.introduction_section {
  background-image: url("./images/header-shapes\ mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 30px 150px 30px;
  background-color: white;
  border-bottom-left-radius: 100px;
}

.introduction_section .intro_title h1 {
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-weight: bold;
  line-height: 60px;
}

.introduction_section .intro_descript p {
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.connect_links a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #6070ff;
  font-size: 16px;
}

.connect_links ul {
  display: flex;
  padding: 0;
  margin-left: -20px;
}

.connect_links ul li {
  list-style-type: none;
  margin-left: 20px;
}
